* {
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}

:root {
    --hue-default: 280;
}

main {
    --hue: var(--hue-default);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(var(--hue), 100%, 24%);
}

.header{
    background-color: #323330;
    height: 90px;
    color: aliceblue;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

.header h1 {
    margin-left: 20px;
}

.header span {
    color: #F0DB4F;
}

.top-scores {
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    height: fit-content;
    font-size: 30px;
    text-decoration: underline;
}

.user-record {
    display: flex;
    flex-direction: column;
}

#timer-element {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    color: antiquewhite;
    font-size: 40px;
    padding: 5px;
    height: 50px;
}


.container {
    background-color:antiquewhite;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 8px 2px;
    width: 750px;
    max-width: 80%
}

.allButtons {
    margin: 20px;
    display:flex;
    flex-direction: column;
}

#question {
    font-size: 40px;
    color:black;
}

.btn {
    font-size: 34px;
    color: white;
    background-color: hsl(var(--hue), 100%, 40%);
    margin: 4px;
    border-radius: 10px;
}

.btn:hover {
    background-color: hsl(var(--hue), 100%, 15%);
    transition:ease-in 0.2s;
}


.Controls{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.start-btn {
    font-size: 50px;
    font-weight: bold;
    padding:  10px 30px;
    display: flex;
    justify-content: center;
}

#p {
    font-size: 20px;
    font-weight: bold;
}

.next-btn {
    font-size: 30px;
    font-weight: bold;
    padding:  10px 30px;
    display: flex;
    justify-content: center;
    background-color: hsl(var(--hue), 100%, 70%);
}



.submit-btn{
    font-size: 30px;
    font-weight: bold;
    padding:  10px 30px;
    background-color: hsl(var(--hue), 100%, 70%);
}


.form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form p {
    
    font-size: 25px;
    flex-wrap: wrap;
    font-weight: bold;

}

#inputField {
    font-size: 60px;
    width: 135px;

}


.hide {
    display: none;
}


